.navBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #0C0C0C;
    padding: 1em;
    border-bottom: #fff 2px solid;
    margin-inline: 6rem;
    margin-top: 2rem;
  }

  .navBar div {
    color: #fff
  }
  
  .leftItems {
    display: flex;
    align-items: center;
  }
  
  
  .logo {
    font-weight: bold;
    font-size: 2em;
    margin-right: 2em;
  }
  
  .navItem {
    margin-right: 4em;
  }

  .customButton {
    padding: 0.6em 2.4em;
    background-color: #4e0f72d9;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .rightItems {
    display: flex;
    align-items: center;
  }
  