.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
  scrollbar-width: none;
}

.leftContent {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  align-items: flex-start;
  min-height: 50vh;
  min-width: 50vh;
  margin-left: 4em;
  margin-top: 5em;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 50vh;
  margin-right: 4em;
  margin-top: 5em;
}

.emailInput,
.passwordInput {
  padding: 8px;
  border: 1px solid #464646d9;
  background-color: var(--foreground-rgb);
  border-radius: 4px;
  min-width: 24em;
  margin-top: 1.2em
}

.forgotPasswordText {
  font-size: 0.6em;
  margin-top: 0.8em;
  margin-right: 5em;
  margin-bottom: 0.8em;
  align-self: flex-end;
  color: #fff;
}

.signUpText {
  font-size: 1em;
  font-weight: 100;
  margin-right: 4em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  align-self: center;
  color: #fff;
}

.signUpText:hover{
  color: #5e5e5e;
  cursor: pointer;
}

.forgotPasswordText:hover {
  color: #5e5e5e;
  cursor: pointer;
}

.loginTitle {
  font-size: 2.2em;
  font-weight: 300;
}

.buttonLogin {
  padding: 1em 10.7em;
}

.buttonLogin,
.buttonAbout {
  background-color: #4e0f72d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonAbout {
  padding: 1em 5em;
}

.buttonGoogle {
  display: flex;
  align-items: center;
  width: 24.1em;
  height: 3em;
  background-color: #ffffffd9;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding-right: 2.5em;
  cursor: pointer;
}
.containerButton {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}


.divider {
  border-left: 1px #fff solid;
  min-height: 80vh;
  margin-left: 2em;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column; /* Altere para uma disposição de coluna em telas menores */
    align-items: center; /* Centralize o conteúdo na tela */
    padding: 2rem; /* Reduza o preenchimento */
  }

  .leftContent, .rightContent {
    min-width: auto; /* Remova a largura mínima */
    margin: 2em 0; /* Reduza as margens superior e inferior */
  }

  .emailInput, .passwordInput {
    min-width: 100%; /* Ocupa toda a largura disponível */
  }

  .divider {
    border: none;
    min-height: 80vh;
    margin-left: 2em;
  }

}

